body {
    background: url("imagenes/fondobody.jpg");
}

#contenedor {
    max-width: 95%;
    margin: 0 auto;
    background-repeat: repeat;
}

#fijo {
    top: 0;
    position: fixed;
    width: 94%;
    z-index: 1;
}

#cabecera {
    text-align: center;
    width: 100%;
    display: inline-block;
    background: linear-gradient(to right, #d43131, #690303);
}

#cabecera .izquierda {
    height: 120px;
    float: left;
    margin-left: 30px;
}

#cabecera .logo {
    height: 120px;
    width: 40%;
}

#cabecera .derecha {
    height: 120px;
    float: right;
    margin-right: 30px;
}

#menudespegable {
    width: 100%;
    background-color: #000;
    clear: both;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

nav li {
    display: inline-block;
    width: 200px;
    height: 25px;
    padding: 3px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
    position: relative;
}

nav li:hover {
    background-color: #fff;
    color: #e20c0c
}

nav li>ul {
    display: none;

}

nav li:hover>ul {
    display: block;
    position: absolute;
    top: 30px;
    left: -40px;
}

#cuerpo {
    margin-top: 120px;
    clear: both;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    line-height: 200%;
    width: 100%;
    height: 2000px;
    background: url("imagenes/fondocontenedor2.jpg");

}

#videoInicio {
    background-color: #101010;
    text-align: center;
}

#videoInicio video {
    width: 80%;
    outline: none;
}

.titulo {
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#sinopsis {
    text-indent: 40px;
    margin-top: 50px;
    width: 60%;
    float: left;
    color: black;
    font-weight: bold;
    padding-left: 20px;

}

.trono {
    padding-left: 150px;
    padding-top: 30px;
}


.trono:hover {
    transform: scale(1.15);
}

.corona:hover {
    transform: scale(1.15);
}

#lateral {
    float: right;
    width: 35%;
    font-size: 15px;
    margin-top: 125px;
    color: black;
}


#tabla td {
    line-height: 100%;
    text-align: left;
    padding: 2px;
    line-height: 200%;
    background: linear-gradient(to left, #BBB8B6, #F0ECE9);
    text-align: center;
}

#tabla th {
    background-color: black;
    color: white;

}

.columnaizquierda {
    font-size: 18px;
}


.audio {
    background-color: black;
    width: 100%;
    border-radius: 3em;
}



#pie {
    clear: both;
    background-color: black;
    color: white;
    height: 580px;
}


#superiorIzquierda {
    width: 400px;
    font-size: 15px;
    float: left;
    margin-top: 20px;
    padding-left: 50px;
}

#superiorIzquierda ul {
    padding-left: 100px;
}

#superiorIzquierda a {
    text-decoration: none;
    color: white;

}

#fotoCentrada {
    clear: both;
    padding-left: 300px;
}

#fotoCentrada img {
    height: 180px;
    width: 600px;
}

#fotoCentrada:hover {
    transform: scale(1.15);
}

#superiorDerecha {
    width: 400px;
    font-size: 15px;
    float: right;
    margin-top: 20px;
}

#superiorDerecha img {
    width: 50px;
    height: 50px;
    border-radius: 3em;
}

#superiorDerecha ul li {
    list-style: none;
    display: inline;
    padding: 15px;
}

#inferiorIzquierda {
    width: 400px;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}

#inferiorIzquierda a {
    text-decoration: none;
    color: white;

}

#inferiorIzquierda ul {
    padding-left: 115px;
}

.libro {
    width: 80px;
    height: 50px;
    border-radius: 5em;
    float: left;
    margin-right: 25px;
    margin-left: 10px;
}

#inferiorDerecha {
    float: right;
    margin-right: 20px;

}

#inferiorDerecha img {
    width: 300px;
    height: 100px;
    margin-right: 10px;
}

#masInfo {
    text-align: center;
    font-style: italic;
    clear: both;
    padding-top: 30px;
}

#masInfo ul li {
    list-style: none;
    display: inline;
    padding: 20px;
}